@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  /* padding-top: 250px; */
	/*The below background is just to add some color, you can set this to anything*/
  background: url(http://www.magic4walls.com/wp-content/uploads/2014/01/texture-blue-fonchik-simple-dark-colors-glow-background.jpg) no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.seleccionado{
    font-family: 'Exo', sans-serif;
    width:700px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2%;
    padding: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: rgb(241, 241, 241);
}

.titulo{
    font-size:x-large;
    padding-left: 6%;
}

.datos{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 2%;
    font-size: large;
}

header{
    border-bottom: 10px solid #6286FB;
    position: static;
    width: 100%;
}


.check{
    color:green;
    display: inline-block;
    transform: scale(1.2,1.2);
}

.warning{
    color:rgb(226, 211, 2);
    display: inline-block;
    transform: scale(1.2,1.2);
}

#header{
    /* padding: 5px; */
    background: #3E3E3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header li{
    list-style: none;
    margin: 20px;
}
#header a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;
}
header #inicio{
    color: #6286FB;
    opacity: 80%;
}
#header .nav-bar li:hover{
    /* font-size: 1.3em; */
    opacity: 0.5;
}
#header ul i{
    margin: 10px;
}
header .sticky{
    padding: 5px 100px;
}
footer{
    height: 50px;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: relative;
    bottom: 0%;
    
}
footer div{
    display: inline;
    letter-spacing: 1.5px;
}