/* @import '//codepen.io/chrisdothtml/pen/ojLzJK.css'; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* h1{
    background: tomato;
    height: 450px;
    padding: 150px 0;
    margin-bottom: 50px;
} */
#triangulo{
    display: inline;
    position: absolute;
   /*  float: left; */
    width: 0;
    height: 0;
    /* padding-bottom: 20px; */
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 10px solid #000;
}
header{
    border-bottom: 10px solid #6286FB;
    /* position: fixed; */
    width: 100%;
}
#header{
    /* padding: 5px; */
    background: #3E3E3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header li{
    list-style: none;
    margin: 20px;
}
#header a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.5px;
}
header #inicio{
    color: #6286FB;
    opacity: 80%;
}
#header .nav-bar li:hover{
    /* font-size: 1.1em; */
    opacity: 0.5;
}
#header ul i{
    margin: 10px;
}
header .sticky{
    padding: 5px 100px;
    position: fixed;
    /* position: fixed; */
}
footer{
    height: 50px;
    background: #000;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
footer div{
    display: inline;
    letter-spacing: 1.5px;
}
#contenido{
    width: 70%;
    margin: auto;
}

#map{
    width: 500px;
    height: 500px;
    margin: 20px auto;
}


/* .social-btns{
  display: flex;
  flex-direction: column;
} */
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: right;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}


.responsive-banner {
  margin: 0px auto 50px;
  width: 100%;
  min-width: 230px;
  max-width: 1366px;
  position: relative;
  height: auto;
  min-height: 300px;
  max-height: 768px;
  /* border-radius: 0 0 10px 10px; */
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #2874A6, #85C1E9);
  background-repeat: no-repeat;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.container-envelope {
  padding: 35px 15px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.col-xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
}

#imagen-baner {
  max-width : 1366px;
  max-height: 300px;
  width: 100%;
  position: relative;
}
span:after,
span:before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
}
.circle-a:before {
  width: 500px;
  height: 500px;
  top: -300px; left: 52%;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
.circle-a:after {
  top: 160px;
  right: 10%;
}
.circle-b:before {
  top: 60%;
  left: -25px;
}
.circle-b:after {
  width: 150px;
  height: 150px;
  bottom: -70px;
  right: -70px;
}

/* Demo Stuff */
#parrafo {
  clear: both;
  font-family: 'Work Sans', Helvetica, sans-serif;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  line-height: 1.15;
  word-wrap: break-word;
  margin: 1em 0 0.5em;
  margin: 70px;
  padding: 0;
  color: #fff;
  position: relative;
  word-wrap: break-word;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */
a.more-link {
  background-color: rgba(255, 255, 255, 0.35);
  display: inline-block;
  padding: 12px 18px;
  color: #fff;
  text-decoration: none;
  font: 500 15px 'Work Sans', Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
  border: none !important;
  position: relative;
  border-radius: 30px;
  text-transform: uppercase;
  -webkit-transition: .1s all ease-in-out;
  -moz-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}
a.more-link:hover {
  background-color: rgba(255, 255, 255, 0.50);
}
/* body {
  background-color: #eff2f7;
  margin-bottom: 50px;
} */
/* html, button, input, select, textarea {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: #90b0bf;
} */
h1 {
  text-align: center;
  margin: 30px 15px;
}
.link-container {
  text-align: center;
}
.link-container a.more-link {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  background-color: #90b0bf;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 1px;
}
.mapboxgl-ctrl-attrib-inner a{
  display: none;
}
h2{
  margin: 50px auto 0;
  text-align: center;
}