<header class="menu">
    <section id="cabecera">
        <div class="menu2">
            <a id="logo" href="/">AmezagaCode</a>
            <div class="lines hamburger" id="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </div>


        <nav class="navbar-menu nav-ul" id="nav-ul">
            <ul id="navitem-elemento" class="nav-ul">
                <li>
                    <a id="<%= uno %>" href="/">Inicio</a>
                </li>
                <li>
                    <a id="<%= dos %>" href="verificar">Verificar</a>
                </li>
                <% if (uno == 'inicio') { %>
                    <li>
                        <a href="#hospital">Hospitales</a>
                    </li>
                    <% } %>
                        <li class="link-login-acceder">
                            <a id="<%= tres %>" href="login">Acceder </a>
                        </li>
            </ul>
        </nav>

    </section>

</header>