<%- include ('partials/_header') %>

    <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>

        <%- include ('partials/_navbar',{uno:'', dos: '', tres: 'inicio'}) %>

            <div></div>
            <div class="container login-form">
                <h2 class="login-title">Bienvenido</h2>
                <h3 class="login-title">Ingreso a los datos de usuario</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="/login" method="POST">
                            <div class="input-group login-userinput">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input id="txtUser" type="text" class="form-control" name="username" placeholder="Ingrese Usuario">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input id="txtPassword" type="password" class="form-control" name="password" placeholder="Ingrese 	Contraseña">
                                <span id="showPassword" class="input-group-btn">
								<button class="btn btn-default reveal" type="button">
                                    <iclass="glyphicon glyphicon-eye-open"></iclass>
                                </button>
							</span>
                            </div>
                            <button class="btn btn-primary btn-block login-button" type="submit">
                            <i class="fa fa-sign-in"></i>
                            Entrar
                        </button>
                            <div class="btn btn-danger btn-block login-button">
                                <a href="/" class="volver-home"><i class="fa fa-arrow-left"></i>Volver</a>
                            </div>
                            <div class="checkbox login-options">
                                <label><input type="checkbox" /> Recordar contraseña</label>
                                <a href="#" class="login-forgot">Olvide mi contraseña?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <%- include ('partials/_footer') %>
                <!-- partial -->
                <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
                <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
                <!-- <script  src="./login.js"></script> -->
    </body>

    </html>