<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Registro de usuarios</h1>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Nombre de usuario" autofocus>
        <input type="text" name="type" placeholder="Tipo de usuario">
        <input type="password" name="password" placeholder="Contraseña">
        <button>Registrar</button>
    </form>
</body>

</html>