<%- include ('partials/_header') %>

    <link rel="stylesheet" href="/css/verificar.css">
    </head>

    <body>
        <%- include ('partials/_navbar',{uno:'', dos: 'inicio', tres: ''}) %>

            <div></div>
            <form id="form-verificar" action="/verificar" method="post">

                <h2>Verificacion del beneficio</h2>

                <div class="content">
                    <label class="in" for="dni">Ingrese su DNI:</label>
                    <div>
                        <input class="input" id="dni" type="text" maxlength="8" name="dni" autofocus>
                        <i class="fas fa-address-card"></i>
                    </div>
                </div>


                <div class="content">
                    <label class="in" for="nombre">Ingrese la fecha de emisión:</label>
                    <div>
                        <input class="input" id="nombre" type="date" name="nombre">
                        <i class="fas fa-address-card"></i>
                    </div>
                </div>

                <div class="content">
                    <h2>Captccha</h2>
                </div>

                <button class="boton" id="btn-verificar" type="submit">Verificar</button>

            </form>

            <%- include ('partials/_footer') %>

    </body>

    </html>