/*
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*/

p {
    margin: 2% auto;
    text-align: center;
    font-size: 14px;
    font-family: Verdana;
}

.select-css {
    display: block;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.table-responsive {
    padding: 60px 10%;
}

#btn-filtro {
    text-align: center;
    width: 5%;
    padding: 5px;
    border-radius: 25px;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #3498db;
    color: #3498db;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-filtro:hover {
    background-color: #3498db;
    border: 1px solid #3498db;
    color: white;
}


/*
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/

.vacio {
    height: 50px;
}


/*
table {
    width: 750px;
    border-collapse: collapse;
    margin: 50px auto;
}
*/


/* Zebra striping */


/*
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}
*/

.tabla-vacia {
    background: #fff;
    border: none;
}

@media screen and (max-width: 1200px) {
    .main-content {
        width: 80%;
        margin: auto;
        flex-direction: column;
    }
    .res-2 {
        flex-direction: column-reverse;
    }
    #contenido {
        margin: auto;
    }
    .more-link {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .ocultar-responsive-2 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        width: 100%;
        margin: auto;
        flex-direction: column;
    }
    #contenido {
        width: 90%;
        margin: auto;
    }
    #map,
    #mapHospitales {
        width: 80%;
    }
    .ocultar-responsive {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    #map,
    #mapHospitales {
        width: 340px;
        height: 500px;
    }
    .more-link {
        width: 50%;
    }
    #parrafo {
        font-size: 20px;
        width: 70%;
        margin: 50px auto;
    }
}

@media screen and (max-width: 350px) {
    #map,
    #mapHospitales {
        width: 300px;
        height: 500px;
    }
}

@media screen and (max-width: 300px) {
    #map,
    #mapHospitales {
        width: 90%;
    }
    #parrafo {
        font-size: 18px;
        width: 80%;
        margin: 50px auto;
    }
    .ocultar {
        display: none;
    }
}