#footer {
    height: 50px;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}

#footer div {
    display: inline;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 550px) {
    #footer {
        text-align: center;
    }
    #footer div {
        width: 90%;
    }
}

@media screen and (max-width: 300px) {
    #footer div {
        font-size: 12px;
        width: 90%;
    }
}