@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);
body {
    /* padding-top: 250px; */
    /*The below background is just to add some color, you can set this to anything*/
    background: url(http://www.magic4walls.com/wp-content/uploads/2014/01/texture-blue-fonchik-simple-dark-colors-glow-background.jpg) no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seleccionado {
    font-family: 'Exo', sans-serif;
    align-self: center;
    width: 60%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2%;
    padding: 2%;
    padding-top: 5%;
    margin: 10%;
    padding-bottom: 3%;
    background: rgb(241, 241, 241);
}



.titulo {
    font-size: x-large;
    padding-left: 6%;
}

.datos {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 2%;
    font-size: large;
}

.check {
    color: green;
    display: inline-block;
    transform: scale(1.2, 1.2);
}

.check i {
    font-size: 20px;
}

#mapa-hospital {
    margin: auto;
    margin-top: 20px;
    border: 2px solid black;
}



@media screen and (max-width: 768px){
    .seleccionado{
        width: 80%;
        margin-top: 20%;
    }
}

@media screen and (max-width: 575px){
    .seleccionado{
        width: 95%;
        margin-top: 25%;
    }

    .datos{
        padding-left: 5%;
    }
}



