body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vacio {
    height: 65px;
}

.contenedor {
    display: flex;
    width: 80%;
    margin: auto;
    box-shadow: 7px 13px 37px gray;
    border-radius: 2%;
}

.imagen {
    width: 50%;
    background: #000;
}

.imagen img {
    width: 100%;
}

label {
    margin: 0;
    padding: 0;
}

p {
    width: 70%;
    margin: auto;
}

#form-verificar {
    background-color: #fafafa;
    padding: 20px;
    width: 50%;
    height: 450px;
    margin: auto;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.input {
    width: 80%;
}

.cab {
    width: 95%;
    background: #6286FB;
    text-align: center;
}

.titulo-cab {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 30px auto;
}

#btn-verificar {
    text-align: center;
    width: 50%;
    padding: 5px;
    border-radius: 25px;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #6286fb;
    color: #6286fb;
}

#btn-verificar:hover {
    background-color: #6286fb;
    border: 1px solid #3460f0;
    color: white;
}

#form-verificar h2 {
    text-align: center;
    font-weight: 500px;
    font-size: 27px;
    margin-top: 33px;
}

.mensaje-error {
    width: 80%;
    margin: auto;
    padding: 20px;
    font-size: 18px;
    background: #000;
    color: #fff;
    text-align: center;
}

.cerrar {
    display: none;
}