body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#btn {
    border-radius: 10px;
    background-color: rgb(47, 26, 102);
    margin-left: 40px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

#btn:hover {
    background-color: rgb(79, 54, 144);
}

.vacio {
    height: 65px;
    margin-top: 9%;
}

.contenedor {
    display: flex;
    width: 80%;
    margin: auto;
    box-shadow: 7px 13px 37px gray;
    padding-left: 10px;
    padding-bottom: 10px;
}

.imagen {
    margin-top: 10px;
    width: 50%;
    background: rgb(92, 114, 235);
    border-radius: 10px;
}

.imagen img {
    width: 100%;
    border-radius: 10px;
}

#grupowarning {
    margin-top: 50px;
}

.warning {
    margin-top: 15px;
    color: white;
}

label {
    margin: 0;
    padding: 0;
}

p {
    width: 70%;
    margin: auto;
}

#form-verificar {
    background-color: #fafafa;
    padding: 20px;
    width: 50%;
    height: 450px;
    margin: auto;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.input {
    width: 80%;
}

.cab {
    width: 95%;
    background: #6286FB;
    border-radius: 10px;
    text-align: center;
}

#dni1 {
    font-size: 25px;
}

#fecha {
    font-size: 25px;
}

.input {
    width: 45%;
}

.titulo-cab {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 30px auto;
}

#btn-verificar {
    text-align: center;
    width: 50%;
    padding: 5px;
    border-radius: 25px;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #6286fb;
    color: #6286fb;
}

#btn-verificar:hover {
    background-color: #6286fb;
    border: 1px solid #3460f0;
    color: white;
}

#form-verificar h2 {
    text-align: center;
    font-weight: 500px;
    font-size: 27px;
    margin-top: 33px;
}

.mensaje-error {
    width: 50%;
    margin: auto;
    padding: 20px;
    font-size: 18px;
    background: rgb(214, 43, 43);
    color: #fff;
    text-align: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 700;
}

.cerrar {
    display: none;
}

.contenedor{
    margin-top: 5%;
    margin-bottom: 2%;
}


@media screen and (max-width: 768px) {

    #form-verificar{
        width: 70%;
    }

    .input{
        width: 70%;
    }

    .cab {
        width: 100%;
        background: #6286FB;
        border-radius: 10px;
        text-align: center;
    }

    .contenedor{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .imagen{
        width: 95%;
        margin: auto;
    }
}